.layout {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
    min-inline-size: 321px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 25px;
    max-inline-size: 1960px;
    gap: 50px;
    margin: auto;
    background-color: var(--background-page-color);
}

@media ( 769px <= width <= 1025px) { 

    .layout {
        gap: 40px;
    }

}

@media ( 625px <= width <= 768px) { 
    .layout {
        gap: 30px;
        padding-inline: 20px;
    }
}

@media ( 481px <= width <= 624px) { 
    .layout {
        gap: 22px;
        padding-inline: 12px;
    }
}

@media ( 386px <= width <= 480px) { 
    .layout {
        gap: 16px;
        padding-inline: 10px;
    }
}

@media ( width <= 385px) { 
    .layout {
        gap: 12px;
        padding-inline: 10px;
    }
}