.layout {
    display: flex;
    min-inline-size: 321px;
    flex-direction: column;
    justify-content: center;
    padding-inline: 25px;
    max-inline-size: 1960px;
    gap: 50px;
    margin: auto;
}