.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 32px;
    max-width: 1440px;
    min-width: 742px;
    width: 90%;
    background-color: rgba(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b), 0.2);
    padding-block: 21px 20px;
    padding-inline: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 24px;
}

.link {
    color: var(--text-color);
    text-decoration: none;
    text-wrap: nowrap;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdownButton {
    gap: 4px;
    background-color: transparent !important;
}

.authButtons_container {
    display: flex;
    gap: 8px;
}

.loginButton {
    width: 98px;
}

.registerButton {
    width: 208px;
}

.closeButton {
    gap: 8px;
    width: 147px;
}

.searchBox {
    flex: 1 1 auto;
    min-width: 200px;
}

.logoContainer {
    inline-size: fit-content;
    block-size: fit-content;
}

.logoContainer:hover {
    cursor: pointer;
}