.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    max-width: 1440px;
    min-width: 290px;
    width: 90%;
    background-color: rgba(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b), 0.2);
    padding-block: 21px 20px;
    padding-inline: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 24px;
}

.link {
    color: var(--text-color);
    text-decoration: none;
    text-wrap: nowrap;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdownButton {
    gap: 4px;
    background-color: transparent !important;
}

.authButtons_container {
    display: flex;
    gap: 8px;
}

.loginButton {
    width: 98px;
}

.registerButton {
    width: 208px;
}

.closeButton {
    gap: 8px;
    width: 147px;
}

.searchBox {
    flex: 1 1 auto;
    min-width: 200px;
}

.logoContainer {
    inline-size: fit-content;
    block-size: fit-content;
}

.logoContainer:hover {
    cursor: pointer;
}

@media ( 625px <= width <= 900px) { 

    .header {
        padding-inline: 20px;
        padding-block: 16px 15px;
    }

    .toolbar {
        gap: 14px;
    }

    .link {
        font-size: 12px;
    }

}

@media ( 481px <= width <= 624px) {
    .header {
        padding-inline: 15px;
        padding-block: 13px 12px;
    }

    .toolbar {
        gap: 10px;
    }

    .link {
        font-size: 10px;
    }

 }

 @media ( 321px <= width <= 480px) {

    .header {
        padding-inline: 9px;
        padding-block: 8px 7px;
    }

    .toolbar {
        gap: 5px;
    }

    .link {
        font-size: 8px;
    }
 } 


 
 @media ( width <= 320px) {

    .header {
        padding-inline: 9px;
        padding-block: 8px 7px;
    }

    .toolbar {
        gap: 5px;
    }

    .link {
        font-size: 8px;
    }
 } 