.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.buttonAuth {
    padding-inline: 50px !important;
    margin-top: 15px;
}

.authError {
    display: block;
    width: fit-content;
    height: fit-content;
    color: red;
    font-family: var(--second-family);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}