.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.buttonAuth {
    padding-inline: 50px !important;
    margin-top: 15px;
}