.container {
    display: flex;
    inline-size: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.group {
    display: flex;
    align-items: center;
    inline-size: 75%;
    align-self: center;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.buttonAuth {
    height: 30px !important;
    padding-inline: 50px !important;
    margin-top: 15px;
    font-size: 14px !important;
    border-radius: 9px !important;
}

.authError {
    display: block;
    width: fit-content;
    height: fit-content;
    color: red;
    font-family: var(--second-family);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}

@media ( width <= 700px) {
    .container {
        gap: 15px;
    }
}