.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 436px;
    padding: 0;
}

.container_large {
    width: 460px;
}

.text {
    color: var(--text-color);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    font-family: var(--font-family, sans-serif);
    line-height: var(--line-height-body);
}

.text_tip {
    margin: 0;
    font-weight: var(--font-weight-caption);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
}

.text_error {
    color: var(--error-color);
}

.title {
    text-align: left;
    background-color: var(--surface-color);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px 20px;
    border: 1px solid var(--caption-color);
    border-radius: 12px;
}

.wrapper_error {
    border-color: var(--error-color);
}

.input {
    text-align: left;
    background-color: var(--surface-color);
    border: none;
}

.input::placeholder {
    color: var(--caption-color);
}

.input:focus,
.input:focus-visible {
    outline: none;
}
