.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 436px;
    padding: 0;
}

.container_large {
    width: 460px;
}

.text {
    color: var(--text-color);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    font-family: var(--font-family, sans-serif);
    line-height: var(--line-height-body);
}

.text_tip {
    margin: 0;
    margin-left: 7px;
    font-weight: var(--font-weight-caption);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    color: var(--text-color);
    letter-spacing: 1px;
}

.text_error {
    color: var(--error-color);
}

.title {
    text-align: left;
    background-color: var(--background-page-color);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px;
    border: 1px solid var(--caption-color);
    border-radius: 12px;
}

.wrapper_error {
    border-color: var(--error-color);
}

.input {
    inline-size: 80%;
    text-align: left;
    border: none;
    color: var(--text-color);
    background-color: inherit;
}

.input::placeholder {
    color: var(--caption-color);
}

.input:focus,
.input:focus-visible {
    outline: none;
}

@media ( width <= 500px ) {
    .text {
        font-size: 12px;
    }

    .input {
        block-size: 20px;
    }
}

@media ( width <= 399px ) {
    .text {
        font-size: 10px;
    }
}