.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    width: 24px;
    height: 24px;
    background-color: var(--surface-color);
    background-image: url('../assets/eye-slash.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.button_visible {
    background-image: url('../assets/eye.svg');
}
