.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 556px;
    height: fit-content;
    background-color: var(--surface-color, #ffffff);
    border: none;
    border-radius: 12px;
    padding-block: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.span {
    font-weight: var(--font-weight-body, 400);
    font-size: var(--font-size-body, 16px);
    font-family: var(--font-family, 'Roboto', sans-serif);
    line-height: var(--line-height-body, 1.5);
}

.span::before,
.span::after {
    content: '';
    display: inline-flex;
    width: calc((100% - 36px) / 2);
    height: 4px;
    border-top: 1px solid var(--disabled-text-color);
}

.span::before {
    margin-right: 4px;
}

.span::after {
    margin-left: 4px;
}
