.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-inline-size: 436px;
    inline-size: 75%;
    height: fit-content;
    background-color: var(--surface-color, #ffffff);
    border: none;
    border-radius: 12px;
    padding-block: 30px;
}

.content {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    gap: 24px;
}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;
    inline-size: 100%;
    gap: 16px;
    text-align: left;
}

.span {
    display: block;
    max-width: 436px;
    width: 100%;
    font-weight: var(--font-weight-body, 400);
    font-size: var(--font-size-body, 16px);
    font-family: var(--font-family, 'Roboto', sans-serif);
    line-height: var(--line-height-body, 1.5);
}

.span::before,
.span::after {
    content: '';
    display: inline-flex;
    width: calc((100% - 40px) / 2);
    height: 4px;
    border-top: 1px solid var(--disabled-text-color);
}

.span::before {
    margin-right: 4px;
}

.span::after {
    margin-left: 4px;
}

.button {
    display: block;
    inline-size: 30%;
}

@media ( width <= 500px ) {
    .content {
        gap: 22px;
    }

    .wrapper {
        gap: 16px;
    }
}

