.container {
    display: flex;
    flex-direction: column;
    max-inline-size: 700px;
    min-block-size: 400px;
    margin-inline: auto;
    background-color: rgba(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b), 0.2);
    padding: 40px;
    gap: 10px;
    border-radius: 10px;
}

.selectPay {
    display: block;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2);
    z-index: 1;
}

.twoButtons {
    display: flex;
    gap: 2px;
}

.selectPayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    min-inline-size: 55px;
    block-size: 37px;
    background-color: var(--accent-color);
    border-radius: 5px;
    padding-inline: 7px;
    padding-block: 4px;
    cursor: pointer;
}

.select {
    border: solid 1px red;
}

.infoCard {
    display: block;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}

.cardInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
}

.buttonBuy {
    width: 60%;
    align-self: center;
    margin-top: 15px;
}

