/* Main container */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  color: var(--text-color);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family, sans-serif);
  line-height: var(--line-height-body);
}

/* Selector */

.select {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 48px;
  padding: 11px 20px;
  background-color: var(--color-bg);
  border: 1px solid var(--caption-color);
  border-radius: var(--card-border-radius);
  cursor: pointer;
  transition: border-color 0.2s ease;
}

/* Icon for closed state */

.select::after {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 16px;
  height: 8px;
  background-image: url("../../assets/angleOpenInput.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  content: "";
}

/* Styles when there is an error */

.selectError {
  color: var(--error-color);
  border-color: var(--error-color);
}

/* Open state */

.selectOpen {
  z-index: 3;
  border-top: 1px solid #e4e8df;
  border-right: 1px solid #e4e8df;
  border-bottom: 1px solid #e4e8df;
  border-left: 1px solid #e4e8df;
}

.borderDone {
  position: absolute;
  top: 28px;
  z-index: 800;
  width: 100%;
  border: 1px solid var(--caption-color);
  border-radius: var(--card-border-radius);
}

/* Opened selector with error */

.selectOpenError {
  border-bottom: 1px solid var(--error-color);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Icon for open state */

.selectOpen::after {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/krestCloseInput.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  content: "";
}

/* Placeholder selection */

.selectHasPlaceholder {
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family, sans-serif);
  line-height: var(--line-height-body);
}

/* Error message */

.error {
  margin-top: 4px;
  color: var(--color-error);
}

.input {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  color: var(--text-color);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family, sans-serif);
  line-height: var(--line-height-body);
  border: transparent;
  background-color: inherit;
}

/* Container for options */

.optionsContainer {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 110px;
  overflow-y: auto;
  background-color: var(--background-page-color);
}

.optionsContainer::-webkit-scrollbar {
  width: 10px;
}

.optionsContainer::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #e4e8df;
  border-radius: 5px;
}

.optionsContainer::-webkit-scrollbar-track {
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.optionsContainerOpen {
  position: relative;
  border-radius: var(--card-border-radius);
}

/* Individual options */

.option {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 32px;
  padding: 4px 20px;
  border-radius: 1px solid var(--background-page-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Hover effect for options */

.option:hover {
  background-color: var(--button-hover-color);
}

/* Highlight active option */

.selected {
  background-color: var(--button-hover-color);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  width: 100%;
}

@media (400px <= width <= 500px) {
  .container {
    font-size: 12px;
  }
}

@media (width <= 399px) {
  .container {
    font-size: 10px;
  }

  .select {
    min-height: 41px;
  }
}
