.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: var(--font-size-h4);
    font-family: var(--font-family);
    background-color: var(--accent-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button:active {
    color: var(--surface-color);
    background-color: var(--button-pressed-color);
}

.button:disabled {
    color: var(--caption-color);
    background-color: var(--disabled-bg-color);
}

.button.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--surface-color);
    border: solid 1px;
    border-color: var(--accent-color);
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.button.secondary:hover {
    color: var(--caption-color);
    border-color: var(--button-hover-color);
}

.button.secondary:active {
    color: var(--text-color);
    border-color: var(--button-pressed-color);
}

.button.secondary:disabled {
    color: var(--disabled-text-color);
    border-color: var(--disabled-bg-color);
}

.button.tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--surface-color);
    border: solid 1px;
    border-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
