.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: var(--font-size-h4);
    font-family: var(--font-family);
    background-color: var(--accent-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button:active {
    color: var(--surface-color);
    background-color: var(--button-pressed-color);
}

.button:disabled {
    color: var(--caption-color);
    background-color: var(--disabled-bg-color);
}

.button.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--enterButton-color);
    border: solid 1px;
    border-color: var(--accent-color);
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.button.secondary:hover {
    color: var(--caption-color);
    border-color: var(--button-hover-color);
}

.button.secondary:active {
    color: var(--text-color);
    border-color: var(--button-pressed-color);
}

.button.secondary:disabled {
    color: var(--disabled-text-color);
    border-color: var(--disabled-bg-color);
}

.button.tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 48px;
    padding: 16px 8px;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--accent-color);
    border: solid 1px;
    border-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

@media ( 901px <= width <= 1024px) {
    .button {
        font-size: var(--font-size-h5);
        height: 38px;
        border-radius: 12px;
        padding: 9px 5px;
    }

    .button.secondary {
        font-size: var(--font-size-h5);
        height: 38px;
        border-radius: 12px;
    }
}

@media ( 625px <= width <= 900px) {
    .button {
        font-size: 12px;
        height: 32px;
        border-radius: 10px;
        padding: 8px 4px;
    }

    .button.secondary {
        font-size: 12px;
        height: 32px;
        border-radius: 10px;
        padding: 5px 3px;
    }
}

@media (  width <= 624px) {
    .button {
        font-size: 10px;
        height: 24px;
        border-radius: 7px;
        padding: 7px 3px;
    }

    .button.secondary {
        font-size: 10px;
        height: 24px;
        border-radius: 7px;
        padding: 3px 1px;
    }
}

