.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    margin: auto;
    inline-size: 80vw;
    max-inline-size: 1100px;
    min-inline-size: 193px;
    block-size: 65vw;
    min-block-size: 145px;
    max-block-size: 800px;
    padding: 3vw;
    border: solid var(--accent-color) 1px;
    border-radius: 50px;
    box-shadow: 0 0 25px var(--accent-color);
    gap: 10px;
    font-family: var(--second-family);
    color: var(--text-color);
    gap: 30px;
}


.notFoundParagraph {
    display: block;
    align-self: center;
    inline-size: fit-content;
    font-family: var(--font-family);
    color: var(--alarm-color, #e0796e);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
}

.svg {
    inline-size: fit-content;
    block-size: fit-content;
    padding-bottom: 70px;
}

.leftHalf {
    display: flex;
    flex-direction: column;
    inline-size: 40%;
    block-size: 100%;
    gap: 15px;
} 

.image {
    display: block;
    flex-grow: 1;
    block-size: 40%;
    object-fit: cover;
    border-radius: 20px;

}

.information {
    display: flex;
    flex-direction: column;
    gap: 35px;
    inline-size: 60%;
    block-size: 100%;
}

.title {
    display: block;
    padding-inline: 2px;
    font-size: 30px;
    font-weight: 650;
    line-height: 120%;
    max-inline-size: 70%;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 2; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.description {
    display: block;
    padding-inline: 2px;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 7; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.price {
    display: block;
    padding-inline: 10px;
    padding-block: 3px;
    font-size: 30px;
    font-weight: 650;
    line-height: 120%;
    color: brown;
    margin-bottom: 4%;
}

.button {
    font-size: 17px !important;
    inline-size: 100%;
}

.buttonBack {
    inline-size: 100px;
}

.back {
    font-size: 17px !important;
    position: absolute;
    right: 35px;
    padding-inline: 20px !important;
    padding-block: 0px !important;
}



@media ( 1025px <= width <= 1440px) {

    .container {
        gap: 17px;
        border-radius: 45px;
    }

    .leftHalf {
        gap: 13px;
    }

    .price {
        padding-inline: 5px;
        padding-block: 1px;
        font-size: 25px;
        margin-bottom: 1      0px;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 17px;
    }

    .button {
        font-size: 15px !important;
    }

    .back {
        font-size: 15px !important;
        height: 55px;
        border-radius: 12px;
        inline-size: fit-content;
    }

    .information {
        gap: 27px;
    }
 }

 @media ( 781px <= width <= 1024px) {

    .container {
        flex-direction: column;
        gap: 14px;
        border-radius: 37px;
        box-shadow: 0 0 29px var(--accent-color);
    }

    .leftHalf {
        flex-direction: row;
        inline-size: 100%;
        gap: 20px;
    }

    .image {
        inline-size: 60%;
        block-size: 100%;
    }

    .price {
        padding-inline: 5px;
        padding-block: 1px;
        font-size: 20px;
        margin-top: 10px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 22px;
    }

    .button {
        
        margin-top: 7px;
        inline-size: 25%;
        font-size: 13px !important;
        height: 35px;
        border-radius: 12px;
    }

    
    .buttonBack {
        inline-size: 55px;
     }

    .back {
        font-size: 13px !important;
        padding-inline: 10px !important;
        left: 5%;
        top: 7%;
        border-radius: 9px;
        opacity: 0.7;
        
    }

    .information {
        inline-size: 100%;
        gap: 14px;
    }
 }

 @media ( 400px <= width <= 780px) {
   
    .container {
        flex-direction: column;
        gap: 14px;
        border-radius: 37px;
        box-shadow: 0 0 29px var(--accent-color);
    }

    .leftHalf {
        flex-direction: row;
        inline-size: 100%;
        gap: 13px;
    }

    .image {
        inline-size: 60%;
        block-size: 100%;
    }

    .price {
        padding-inline: 5px;
        padding-block: 1px;
        font-size: 16px;
        margin-top: 9px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 22px;
    }

    .button {
        margin-top: 5px;
        inline-size: 25%;
        font-size: 13px !important;
        height: 35px;
        border-radius: 12px;
    }

    
    .buttonBack {
        inline-size: 40px;
     }

    .back {
        font-size: 13px !important;
        padding-inline: 10px !important;
        left: 5%;
        top: 7%;
        border-radius: 9px;
        opacity: 0.7;
        
    }

    .information {
        inline-size: 100%;
        gap: 14px;
    }

 }