.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    margin: auto;
    inline-size: 80%;
    block-size: fit-content;
    min-block-size: 800px;
    padding: 50px;
    border: solid var(--accent-color) 1px;
    border-radius: 50px;
    box-shadow: 0 0 25px var(--accent-color);
    gap: 60px;
    font-family: var(--second-family);
    color: var(--text-color);
}

.column {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 0 !important;
}

.notFoundParagraph {
    display: block;
    align-self: center;
    inline-size: fit-content;
    font-family: var(--font-family);
    color: var(--alarm-color, #e0796e);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
}

.svg {
    inline-size: fit-content;
    block-size: fit-content;
    padding-bottom: 70px;
}

.leftHalf {
    display: flex;
    flex-direction: column;
    inline-size: 40%;
    gap: 25px;
    padding: 10px;
} 

.image {
    display: block;
    inline-size: 100%;
    block-size: 400px;
    object-fit: cover;
    border-radius: 20px;

}

.information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    inline-size: 60%;
    block-size: 100%;
}

.title {
    display: block;
    padding-inline: 10px;
    padding-block: 3px;
    font-size: 30px;
    font-weight: 650;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 2; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.description {
    display: block;
    padding-inline: 10px;
    padding-block: 3px;
    font-size: 20px;
    font-weight: 650;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 7; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.price {
    display: block;
    padding-inline: 10px;
    padding-block: 3px;
    font-size: 30px;
    font-weight: 650;
    line-height: 120%;
    color: brown;
    margin-bottom: 20px;
}

.button {
    font-size: 20px !important;
}

