.container {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 80%;
    max-inline-size: 436px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    min-width: 380px;
}

.buttonPadding {
    padding-inline: 15px !important;
    min-width: 150px !important;
}

@media ( width <= 640px ) {
    .step2 {
        inline-size: 85%;
    }

    .buttonsContainer {
        gap: 35px;
    }

    .buttonPadding {
        padding-inline: 8px !important;
        min-width: 120px !important;
    }
}


@media ( width <= 500px ) {
    .container {
        gap: 10px;
    }
}

