.container {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    min-width: 380px;
}

.buttonPadding {
    padding-inline: 15px !important;
    min-width: 150px !important;
}

@media ( width <= 500px ) {
    .container {
        gap: 10px;
    }
}

