.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-inline-size: 100vw;
    gap: 30px;
    background-color: var(--surface-color);
    padding-block: 30px;
}


.rowContainer {
    display: flex;
    flex-direction: row;
    max-inline-size: 100%;
    block-size: auto;
    gap: 40px;
    

}

.containerFixed {
    padding-top: 60px;
    padding-inline: 10px;
    width: 170px;
    
  
}

.filters {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.products {
    width: calc(100vw - 115px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.spinnerContainer {
    width: fit-content;
    height: fit-content;
    display: block;
    align-self: center;
    margin-left: 100px;
}

.spinner {
    position: relative !important;
    
}

.greyLine {
    width: 1px;
    background-color: var(--toggle-color);
    opacity: 0.6;
}