.link {
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family);
  line-height: var(--line-height-body);
  cursor: pointer;
  transition: color 0.2s ease;
}

.link.disabled {
  color: var(--disabled-text-color);
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  color: var(--button-pressed-color);
}

.primary:hover {
  color: var(--button-hover-color);
}

.secondary {
  color: var(--text-color);
}

.secondary:hover {
  color: var(--button-hover-color);
}

.inline {
  color: var(--text-color);
}
