.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: fit-content;
    height: 40px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    width: 40px;
    height: 40px;
}

.bg {
    fill: var(--accent-color);
}

.symbol {
    fill: var(--background-page-color);
}

.text {
    color: var(--text-color);
    font-weight: var(--font-weight-logo);
    font-size: var(--font-size-logo);
    font-family: var(--font-family-logo);
    line-height: var(--line-height-logo);
    letter-spacing: -0.02em;
}


@media ( 769px <= width <= 900px) {
    .wrapper {
        width: 100px;
        gap: 8px;
    }

    .text {
        font-size: 18px;
    }

    .svg {
        width: 22px;
        height: 22px;
    }
}

@media ( 481px <= width <= 768px) {

    .wrapper {
        gap: 5px;
    }

    .text {
        font-size: 16px;
    }

    .svg {
        width: 19px;
        height: 19px;
    }

}

@media ( 321px <= width <= 480px) { 

    .wrapper {
        gap: 3px;
    }

    .text {
        font-size: 12px;
    }

    .svg {
        width: 14px;
        height: 14px;
    }
}

@media ( width <= 321px) { 

    .wrapper {
        gap: 3px;
    }

    .text {
        font-size: 12px;
    }

    .svg {
        width: 14px;
        height: 14px;
    }
}


