.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
    inline-size: 80%;
    background-color: rgba(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b), 0.2);
    block-size: fit-content;
    min-block-size: 800px;
    padding: 50px;
    border-radius: 50px;

}

.svg {
    width: 200px;
    height: 200px;
}

.bg {
    fill: var(--accent-color);
}

.symbol {
    fill: var(--background-page-color);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    block-size: fit-content;
    margin-top: 80px;
}

.text {
    display: block;
    inline-size: fit-content;
    block-size: fit-content;
    padding: 80px;
    color: var(--text-color);
    font-weight: var(--font-weight-logo);
    font-size: var(--font-size-logo);
    font-family: var(--font-family-logo);
    line-height: var(--line-height-logo);
    text-align: justify;
    text-indent: 1em;

}

.button {
    padding: 16px 13px !important;
}