.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
    inline-size: 60%;
    background-color: rgba(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b), 0.2);
    block-size: fit-content;
    padding: 50px;
    border-radius: 50px;

}

.svg {
    width: 100px;
    height: 100px;
}

.bg {
    fill: var(--accent-color);
}

.symbol {
    fill: var(--background-page-color);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    block-size: fit-content;
    margin-top: 10px;
}

.text {
    display: block;
    inline-size: fit-content;
    block-size: fit-content;
    padding-block: 50px;
    padding-inline: 80px;
    color: var(--text-color);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    font-family: var(--font-family-logo);
    line-height: var(--line-height-body);
    text-align: justify;
    text-indent: 1em;

}

.button {
    padding: 16px 13px !important;
}

@media (width < 950px) {
    .svg {
        width: 50px;
        height: 50px;
    }

    .text {
        
    }
}