.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  block-size: fit-content;
  gap: 20px;
  padding-inline: 30px;
  padding-bottom: 30px;
}

.changeData {
  padding: 7px 12px;
}

@media (width <= 500px) {
  .container {
    margin-top: 20px;
  }
}
