.container {
    position: relative;
    display: flex;
    flex-direction: column;
    inline-size: 220px;
    block-size: 350px;
    border-radius: 30px;
    border: 1px solid;
    border-color: var(--accent-color);
    font-family: var(--second-family);
    color: var(--text-color);
}

.image {
    display: block;
    inline-size: 100%;
    block-size: 200px;
    object-fit: cover;
    border-radius: inherit;

}

.title {
    display: block;
    padding-inline: 10px;
    padding-block: 3px;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 2; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.description {
    padding-inline: 9px;
    padding-block: 1px;
    font-size: var(--font-size-h4); 
    font-weight: var(--font-weight-caption); /* 400 */
    line-height: var(--line-height-caption); /* 133% */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 2; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.category {
    position: absolute;
    top: 97px;
    right: 7px;
    inline-size: fit-content;
    block-size: fit-content;
    display: block;
    border-radius: 5px;
    background-color: rgba(80, 136, 38, 0.5);
    color: brown;
    padding: 3px;
    font-size: 10px;
}

.price {
    padding-inline: 9px;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2);
    color: brown;
    font-weight: 700;
    padding-block: 5px;
}

.like {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url('../assets/like.svg');
}

.like-done {
    background-image: url('../assets/like-red.svg');
}