.container {
    position: relative;
    display: flex;
    flex-direction: column;
    inline-size: 140px;
    block-size: 200px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--accent-color);
    font-family: var(--second-family);
    color: var(--text-color);
}

.image {
    display: block;
    inline-size: 100%;
    block-size: 120px;
    object-fit: cover;
    border-radius: inherit;

}

.title {
    display: block;
    padding-inline: 5px;
    padding-block: 1px;
    font-size: var(--font-size-caption);
    font-weight: 800;
    line-height: var(--line-height-caption);
}

.description {
    padding-inline: 5px;
    padding-block: 1px;
    font-size: var(--font-size-caption); /* 12px */
    font-weight: var(--font-weight-caption); /* 400 */
    line-height: var(--line-height-caption); /* 133% */
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box !important; /* Важно установить именно webkit-box */
    -webkit-line-clamp: 2; /* Обязательно с дефисом и префиксом */
    -webkit-box-orient: vertical; /* Ориентация вертикальной коробки */
}

.category {
    position: absolute;
    top: 97px;
    right: 7px;
    inline-size: fit-content;
    block-size: fit-content;
    display: block;
    border-radius: 5px;
    background-color: rgba(80, 136, 38, 0.5);
    color: brown;
    padding: 3px;
    font-size: 10px;
}

.price {
    padding-inline: 5px;
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    line-height: var(--line-height-h4);
    color: brown;
    font-weight: 700;
}

.like {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 15px;
    height: 15px;
    background-image: url('../assets/like.svg');
}

.like-done {
    background-image: url('../assets/like-red.svg');
}