.input {
  display: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 436px;
  height: 96px;
  padding: 16px 20px;
  border: dashed 1px var(--caption-color);
  border-radius: 12px;
}

.directionRow {
  flex-direction: row;
}

.title {
  display: block;
  width: 100%;
  height: 24px;
}

.selectImage {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  background-image: url("../../assets/addImagesForSkillsIcon.svg");
}

.inputText,
.title {
  color: var(--caption-color);
  font-weight: var(--font-weight-h4);
  font-size: var(--font-size-h4);
  font-family: var(--font-family);
  line-height: var(--line-height-h4);
  text-align: center;
}

.inputText {
  color: var(--button-pressed-color);
}

.imagePreview {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0 0 0 1px rgb(6 94 51/ 50%);
}

.imagePreviewDelete {
  position: absolute;
  top: -3px;
  right: -4px;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("../../assets/delete.svg");
  border-radius: 50%;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 7px;
  transition: ease 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

.notMany {
  position: absolute;
  top: 82%;
  width: fit-content;
  height: 24px;
  color: var(--caption-color);
  font-weight: 400;
  font-size: 10px;
  font-family: var(--font-family);
  line-height: 1.5;
  text-align: center;
}
