.inputAvatar {
  position: relative;
  display: none;
  width: 72px;
  height: 72px;
}

.svgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-image: url("../../assets/user-circle54x54.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.container:hover {
  cursor: pointer;
}

.svg {
  display: block;
}

.greenAdd {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 16px;
  height: 16px;
  background-color: var(--button-pressed-color);
  border-radius: 50%;
}

.greenAdd::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../../assets/addPlusWhiteGorisont.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
}

.greenAdd::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../../assets/addPlusWhiteVertical.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
}
