.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: fit-content;
    min-width: 436px;
    height: fit-content;
    min-height: 500px;
    padding-top: 30px;
}

.twoShortInputs {
    display: flex;
    gap: 20px;
    width: 436px;
    height: 76px;
}

.shortInput {
    width: 208px !important;
}

.aroundImage::after {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 16px !important;
    height: 8px !important;
    background-image: url('../assets/around-angle.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    content: '';
}
